body{
  color:#2f3039;
  margin:0 auto;
  font-family: 'Cabin', sans-serif;
  box-sizing:border-box;
}



/* * Navigation */
nav{
  height:55px;
  background-color:#f96259;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 3%;
}
nav a{
  text-decoration:none;
  color:white;
  font-size:1.25rem;
  padding:7px;
}
nav a:hover{
  text-decoration:underline;
  transform:scale(1.25);
  transition: .3s cubic-bezier(0.2,0.8,0.2,1);
}
.nav-link-container{
  width:35%;
  display:flex;
  justify-content:space-between;
}
.logo-home{
  height:50px;
}
.resume{
  border:1px solid white;
  padding:7px 15px;
  border-radius:15px;
}
.resume:hover{
  text-decoration:none;
  transform:scale(1);
  transition:.5s;
  background-color:white;
  color:#f96259;
}




/* * Main Logo */
.logo{
  width:100%;
  max-width:900px;
}
.logo-container{
  display:flex;
  justify-content:center;
  opacity:0;
     animation: LogoAnimation;
     animation-duration: 1.5s;
     animation-fill-mode:forwards;
     animation-timing-function:cubic-bezier(0.2,0.8,0.2,1)
}
@keyframes LogoAnimation {
     0% {
          opacity: 0;
          transform: translateY(50px);
     }
     100%{
          opacity: 1;
          transform: translateY(0px);
     }
}





/* * Landing Button */
 .landing-page-button-container{
  text-align:center;
} 
.landing-page-button{
  height:40px;
  font-size:1rem;
  color:#f96259;
  font-weight:500;
  width:25%;
  border:1px solid #f96259;
  text-decoration:none;
  border-radius:20px;
  animation-name: landingButton;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
.landing-page-button:hover{
  background-color:#f96259;
  color:white;
  transition-timing-function: ease-in;

  transition: .5s cubic-bezier(0.2,0.8,0.2,1);
  box-shadow: 0 10px 20px rgba(0,0 ,0, .25);
  transform: translateY(-3px);
}
@keyframes landingButton {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}